<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h2>Software Testing and Automation</h2>

        <p class="lead">AngularJS Application</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col col-md-6 center">
            <h3>Users List</h3>
            <div>
                <table ng-table class="table">
                    <tr ng-repeat="user in users">
                        <td data-title="'Name'">{{user.name}}</td>
                        <td data-title="'Age'">{{user.age}}</td>
                        <td data-title="'City'">{{user.city}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6 center">
            <button type="button" class="btn btn-default" ng-click="addNew()">
                Add User
            </button>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Luis Alberto Aviles |
            <a href="https://twitter.com/luixaviles">@luixaviles</a>
    </div>
</footer>
